<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.wumpaforge.shield" android:versionCode="1" android:versionName="0.1-shield-dev">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="35" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="true" />
    <application android:label="WumpaForge" android:icon="@drawable/icon" android:banner="@drawable/banner" android:isGame="true" android:appCategory="game" android:allowBackup="false" android:extractNativeLibs="true" android:debuggable="true" android:theme="@android:style/Theme.Material.NoActionBar">
        <activity android:name=".LauncherActivity" android:exported="true" android:screenOrientation="landscape">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LEANBACK_LAUNCHER" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".GameActivity" android:exported="false" android:process=":game" android:screenOrientation="landscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode|navigation|screenLayout|density" />
        <activity android:name=".GraphicsCheckActivity" android:exported="false" android:process=":graphicscheck" android:screenOrientation="landscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode|navigation|screenLayout|density" />
        <activity android:name=".ControllerCheckActivity" android:exported="false" android:process=":controllercheck" android:screenOrientation="landscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode|navigation|screenLayout|density" />
        <activity android:name=".AudioCheckActivity" android:exported="false" android:process=":audiocheck" android:screenOrientation="landscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode|navigation|screenLayout|density" />
    </application>
</manifest>
